.about-us {
  width: $mobile-width;
  padding: 0 $mobile-padding;
  margin: 0 auto;
  margin-bottom: 52px;
  box-sizing: border-box;
}

.about-us__list {
  @include reset-list-style;
  margin: 0;
}

.about-us__list li {
  margin-bottom: 30px;

  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
}

.about-us__header {
  margin: 0;
  margin-bottom: 30px;

  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.about-us__item {
  position: relative;

  padding-top: 54px;
}

.about-us__item::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
}

.about-us__item--materials::before {
  width: 32px;
  height: 37px;

  background-image: url(../img/icon-feature-flower.svg);
}

.about-us__item--style::before {
  width: 46px;
  height: 27px;

  background-image: url(../img/icon-feature-money.svg);
}

.about-us__item--likes::before {
  width: 33px;
  height: 28px;

  background-image: url(../img/icon-feature-heart.svg);
}

.about-us__item--handmade::before {
  width: 34px;
  height: 34px;

  background-image: url(../img/icon-feature-ball.svg);
}

.about-us__item--local::before {
  width: 54px;
  height: 23px;

  background-image: url(../img/icon-feature-rocket.svg);
}

.about-us__item--present::before {
  width: 32px;
  height: 32px;

  background-image: url(../img/icon-feature-gift.svg);
}

@media (min-width: $tablet-width) {
  .about-us {
    width: $tablet-width;
    padding: 0 $tablet-padding;
    margin-bottom: 26px;
  }

  .about-us li {
    margin-bottom: 60px;
  }

  .about-us__header {
    margin-bottom: 47px;

    font-size: 43px;
    line-height: 50px;
  }

  .about-us__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    max-height: 500px;
  }

  .about-us__list li {
    margin-bottom: 57px;

    font-size: 20px;
    line-height: 22px;
  }

  .about-us__item {
    width: 334px;
  }

  .about-us__wrapper {
    width: 50%;
  }
}

@media (min-width: $desktop-width) {
  .about-us {
    width: $desktop-width;
    padding: 0 $desktop-padding;
    margin-bottom: 33px;
  }

  .about-us__header {
    margin-left: 175px;
    margin-bottom: 50px;

    font-size: 53px;
    line-height: 57px;
  }

  .about-us__item {
    width: 350px;
  }

  .about-us__list {
    align-content: flex-start;
    margin-left: 175px;
  }

  .about-us__wrapper {
    width: 350px;
  }
}
