.about-us {
  margin-bottom: 65px;

  &__header {
    margin-bottom: 30px;

    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
  }

  &__list {
    @include reset-list-style;

    li {
      margin-bottom: 30px;
      
      font-size: 17px;
      line-height: 20px;
      font-weight: 700;
      color: #000000;
    }
  }
}

@media (min-width: $tablet-width) {
  .about-us__list {
    display: flex;
    justify-content: center;
  }
}
