.catalog-item {
  &__title {
    font-size: 17px;
    font-weight: 700;
    color: #000000;
  }

  &__properties {
    font-size: 13px;
    line-height: 30px;
  }

  &__price {
    font-weight: 700;
    color: #000000;
  }
}
