.catalog-item {
  display: flex;
  flex-direction: column;
}

.catalog-item__title {
  font-size: 17px;
  font-weight: 700;
  color: #000000;
}

  &__properties {
    font-size: 13px;
    line-height: 30px;
  }

  &__price {
    font-weight: 700;
    color: #000000;
  }
}

.catalog-item__description {
  display: flex;
  flex-direction: column;
}

.catalog-item__bottom-wrapper {
  display: flex;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .catalog-item {
    flex-direction: row;
  }

  .catalog-item__description {
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .catalog-item {
    flex-direction: column;
  }

  .catalog-item__description {
    justify-content: flex-start;
  }
}
