.categories-list {
  @include reset-list-style;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.categories-list__item {
  position: relative;

  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
}

.categories-list__item--interior {
  background-color: #63d1bb;
}

.categories-list__item--toys {
  background-color: #56c3b2;
}

.categories-list__item a {
  display: block;
  padding: 27px $mobile-padding;

  color: #ffffff;
  text-decoration: none;
}

.categories-list__item svg {
  fill: #149080;
}

.categories-list__item:hover svg {
  opacity: 0.5;
}

.categories-list__item:active svg {
  opacity: 0.3;
}

.categories-list__item--interior svg {
  position: absolute;
  top: 53%;
  transform: translateY(-50%);
  right: 35px;

  width: 40px;
  height: 62px;

  opacity: 0.7;
}

.categories-list__item--toys svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 27px;

  width: 60px;
  height: 60px;

  opacity: 0.7;
}

@media (min-width: $tablet-width) {
  .categories-list {
    flex-direction: row;
  }

  .categories-list__item {
    width: 50%;

    font-size: 20px;
    line-height: 30px;
  }

  .categories-list__item:hover {
    margin-top: -5px;
  }

  .categories-list__item a {
    padding: 29px 36px;
  }

  .categories-list__item--interior svg {
    top: 60px;
  }

  .categories-list__item--toys svg {
    top: 60px;
    right: 34px;
  }
}
