.categories-list {
  @include reset-list-style;
  margin: 0;

  display: flex;
  flex-direction: column;

  &__item {
    position: relative;

    padding: 27px $mobile-padding;

    font-size: 19px;
    line-height: 24px;
    font-weight: 700;

  }

  &__item--interior {
    background-color: #63d1bb;
  }

  &__item--toys {
    background-color: #56c3b2;
  }
}

.categories-list__item--interior::after {
  content: "";

  position: absolute;
  top: 53%;
  transform: translateY(-50%);
  right: 35px;

  width: 40px;
  height: 62px;
  background-image: url(../img/icon-interior.svg);
  opacity: 0.5;
}

.categories-list__item--toys::after {
  content: "";

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 27px;

  width: 60px;
  height: 60px;

  background-image: url(../img/icon-toy.svg);
  background-repeat: no-repeat;
  opacity: 0.5;
}

.categories-list__item a {
  color: #ffffff;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .categories-list {
    flex-direction: row;
  }

  .categories-list__item {
    width: 50%;
    padding: 29px 36px;

    font-size: 20px;
    line-height: 30px;
  }

  .categories-list__item--interior::after {
    top: 60px;
  }

  .categories-list__item--toys::after {
    top: 60px;
    right: 34px;
  }
}
