.categories-list {
  @include reset-list-style;

  display: flex;
  flex-direction: column;
}

.categories-list__item {
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;

  padding: 30px $mobile-padding;
}

.categories-list__item--interior {
  background-color: #63d1bb;
}

.categories-list__item--toys {
  background-color: #56c3b2;
}

@media (min-width: $tablet-width) {
  .categories-list {
    flex-direction: row;
  }

  .categories-list__item {
    width: 50%;

  }
}
