.contacts {
  &__wrapper {
    padding: 0 $mobile-padding;
  }

  &__title {
    margin-bottom: 40px;

    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
  }

  &__data {
    font-size: 15px;
    line-height: 30px;
    font-style: normal;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;

    height: 460px;
    padding-right: 525px;
  }

  .contacts__map {
    position: absolute;
    top: 0;
    right: 0;

    width: 525px;
    height: 460px;
  }

  &__map {
    display: block;
    margin-bottom: 40px;
  }

  &__write {
    margin-bottom: 40px;
  }
}
