.container {
  padding: 0 30px;
}

@media (min-width: $tablet-width) {
  .container {
    width: 668px;
    margin: 0 auto;
    padding: 0 50px;
  }

}

@media (min-width: $desktop-width) {
  .container {
    width: 1050px;
    margin: 0 auto;
    padding: 0 50px;
  }

}
