.container {
  padding: 0 30px;
}

@media (min-width: $tablet-width) {
  .container {
    width: $tablet-width;
    margin: 0 auto;
    padding: 0 50px;
  }

}

@media (min-width: $desktop-width) {
  .container {
    width: $desktop-width;
    margin: 0 auto;
    padding: 0 50px;
  }

}
