.copyright {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 20px 0 24px;

  font-size: 19px;
  line-height: 19px;
  font-weight: 700;
  color: #000000;
}

.copyright__text {
  margin-right: 30px;
}

@media (min-width: $tablet-width) {
  .copyright {
    position: relative;
    padding: 0;
    margin-left: auto;
    margin-bottom: -7px;
  }


}
