.featured-product {
  position: relative;

  margin-bottom: 28px;
}

.featured-product__header {
  display: flex;
  flex-direction: column;
  padding: 0 $mobile-padding;
  width: 260px;
  margin: 0 auto;
}

.featured-product__wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  padding: 0 $mobile-padding;
  width: 260px;
  margin: 0 auto;
  padding-bottom: 42px;
}

.featured-product__wrapper::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;

  width: 320px;
  height: 6px;

  background-image: url(../img/bg-zigzag-line.svg);
  background-repeat: repeat-x;
  background-size: auto 6px;
  background-position: center;
}

.featured-product__title {
  order: 1;

  margin: 0;
  margin-bottom: 22px;

  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #63d1bb;
}

.featured-product__title br {
  display: none;
}

.featured-product__product-title {
  margin-top: 30px;
  margin-bottom: 5px;

  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.featured-product__intro {
  margin: 0;
  margin-bottom: 16px;
}

.featured-product__characteristics {
  line-height: 20px;

  width: 100%;
  margin-bottom: 27px;

  border-collapse: collapse;
}

.featured-product__property-name {
  min-width: 82px;
  padding: 10px 0;

  border-bottom: 1px solid #ececec;
}

.featured-product__property-value {
  padding: 10px 0;

  border-bottom: 1px solid #ececec;
}

.featured-product__image {
  margin-bottom: 18px;
}

.featured-product__price {
  margin: 0;
  margin-bottom: 25px;

  font-size: 17px;
  font-weight: bold;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .featured-product {
    padding-top: 46px;
    margin-bottom: 50px;
  }

  .featured-product__header {
    flex-direction: row;
    width: 668px;
    padding: 0 $tablet-padding;
    margin-bottom: 57px;
  }

  .featured-product__title {
    margin: 0;
    margin-right: 28px;
    margin-top: 12px;

    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
  }

  .featured-product__title br {
    display: inline;
  }

  .featured-product__product-title {
    flex-grow: 1;
    margin: 0;

    font-size: 43px;
    line-height: 50px;
  }

  .featured-product__wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
    height: 404px;
    width: 668px;
    padding: 0 $tablet-padding;
    padding-bottom: 70px;
  }

  .featured-product__wrapper::after {
    width: 768px;
    height: 17px;

    background-size: 100% 17px;
    transform: rotate(180deg);
  }

  .featured-product__image {
    order: 1;
    height: 404px;
    width: 334px;
    margin-bottom: 0;
    margin-left: 44px;
  }

  .featured-product__intro {
    max-width: 290px;
    margin-top: -7px;
    margin-bottom: 34px;

    font-size: 17px;
    line-height: 30px;
  }

  .featured-product__property-name {
    min-width: 70px;
  }

  .featured-product__price {
    margin-bottom: 34px;

    font-size: 20px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .featured-product {
    width: $desktop-width;
    margin: 0 auto;
    padding-top: 72px;
  }

  .featured-product__wrapper {
    position: relative;

    height: 636px;
    width: 1050px;
    padding: 0 $desktop-padding;
    padding-bottom: 95px;
    margin-bottom: 60px;
  }

  .featured-product__wrapper::after {
    width: 1050px;
    height: 23px;
    margin: 0 50px;

    background-size: 100% 23px;
  }

  .featured-product__title {
    order: 0;
    width: 175px;
    margin: 0;
    padding-top: 15px;
  }

  .featured-product__product-title {
    font-size: 53px;
    line-height: 57px;
  }

  .featured-product__header {
    position: absolute;
    left: 50px;
    top: 124px;
    z-index: 1;

    flex-direction: row;
    width: auto;
    padding: 0;
  }

  .featured-product__description-block {
    margin-top: 166px;
    margin-left: 175px;
  }

  .featured-product__order-block {
    margin-left: 175px;
  }

  .featured-product__image {
    margin-bottom: 0;
    height: 636px;
    width: 525px;
    order: 1;
    margin-left: 58px;
  }

  .featured-product__intro {
    max-width: 292px;
    margin-bottom: 46px;
  }

  .featured-product__property-name {
    width: 98px;
  }
}
