.featured-product {
  &__title {
    margin: 0;
    margin-bottom: 25px;

    font-size: 17px;
    line-height: 20px;
    font-weight: 700;
    color: #63d1bb;
  }

  &__product-title {
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
  }

  &__decription {
    margin-bottom: 30px;
  }

  &__characteristics {
    width: 100%;
    margin-bottom: 30px;

    line-height: 20px;

    border-collapse: collapse;
  }

  &__property-name {
    min-width: 100px;
    padding: 10px 0;

    border-bottom: 1px solid #ececec;
  }

  &__property-value {
    padding: 10px 0;

    border-bottom: 1px solid #ececec;
  }

  &__image {
    margin-bottom: 25px;
  }

  &__price {
    margin: 0;
    margin-bottom: 25px;

    font-size: 17px;
    font-weight: bold;
    text-align: center;
  }
}
