.main-nav {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}

.main-nav__list {
  @include reset-list-style;

  a {
    padding: 28px $mobile-padding;

    color: #000000;
    text-decoration: none;
  }
}
