.main-nav {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}

.main-nav__list {
  @include reset-list-style;
  margin: 0;
}

.main-nav__list a {
  padding: 28px $mobile-padding;

  color: #000000;
  text-decoration: none;
}
