.main-header {


  background-color: #fafafa;
  background-image: url(../../img/hero-mobile@1x.jpg);
  background-position: center top;
  background-repeat: no-repeat;
}

.main-header__wrapper {
  box-sizing: border-box;
  border-top: 1px solid #e7e7e7;
}

.main-header__title {
  min-height: 207px;
  margin: 0;
  padding: 75px $mobile-padding;

  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  color: #010000;
  text-align: center;
}




@media (min-width: $tablet-width) {
  .main-header__line-break {
      display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-header__wrapper {
    width: $desktop-width;
    padding: 0 $desktop-padding;
    margin: 0 auto;
  }
}
