.order__wrapper {
  width: $mobile-width;
  margin: 0 auto;

}
.order__intro-text {
  margin: 23px 0;
  padding: 0 $mobile-padding;

  font-size: 13px;
}


@media (min-width: $tablet-width) {
  .order__wrapper {
    width: $tablet-width;
    padding: 0;
  }

  .order__intro-text {
    margin: 74px 0 73px;
    padding: 0 $tablet-padding;

    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .order__wrapper {
    width: $desktop-width;
  }

  .order__intro-text {
    margin: 122px 175px 72px;
  }


}
