.order {


}

.order__wrapper {

  width: $mobile-width;
  padding: 0 $mobile-padding;
  margin: 0 auto;
  box-sizing: border-box;
}

.order__intro-text {
  font-size: 13px;
}

@media (min-width: $tablet-width) {
  .order__wrapper {
    width: $tablet-width;
    padding: 0 $tablet-padding;
  }
}
