.page-main__featured-product {
  padding: 0 $mobile-padding;
  margin-bottom: 35px;
}

.page-main__about-us {
  padding: 0 $mobile-padding;
}

@media (min-width: $tablet-width) {
  .page-main__featured-product {
    padding: 0;
  }
}
