.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__toggle {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-header {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .page-header__logo {
    order: -2;
  }

}

@media (min-width: $desktop-width) {
  .page-header__logo {
    order: 0;
  }
}
