.page-header {
  width: 320px;
  margin: 0 auto;
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;

}

.page-header__logo {
  display: block;
  padding: 22px 0;

  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}

.page-header__logo-image {
  display: block;
  margin: 0 auto;
}

.page-header__toggle {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-header {
    width: $tablet-width;
    margin-bottom: -60px;
  }

  .page-header__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 0 50px;
  }

  .page-header__logo {
    order: -2;
    display: flex;
    align-items: center;
    height: 88px;
    padding: 0;

    border: 0;
  }

  .page-header__logo-image {
    width: 113px;
    height: 46px;
  }

}

@media (min-width: $desktop-width) {
  .page-header {
    width: $desktop-width;
    margin-bottom: -60px;
  }

  .page-header__wrapper {

  }

  .page-header__logo {
    display: flex;
    align-items: center;
    order: 0;
  }

  .page-header__logo-image {
    width: 149px;
    height: 72px;
  }
}
