.page-title {
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  color: #000000;

  margin: 0;
  padding: 73px 30px;
  box-sizing: border-box;

  border-top: 1px solid #dfdfdf;
  background-color: #f1f1f1;
}

@media (min-width: $tablet-width) {
  .page-title {
    position: relative;

    padding: 96px $tablet-padding 78px;

    font-size: 43px;
    line-height: 50px;
  }
  .page-title::after {
    content: "";

    position: absolute;
    left: 50%;
    bottom: -14px;

    width: 100%;
    height: 24px;
    background-image: url(../img/bg-zigzag-fill.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-repeat: repeat-x;
    background-size: 768px 24px;

    transform: translateX(-50%);
  }

}

@media (min-width: $desktop-width) {
  .page-title {
    padding: 93px $desktop-padding 104px;

    font-size: 53px;
    line-height: 57px;
  }

  .page-title::after {
    bottom: -18px;

    height: 34px;

    background-size: 1150px 34px;
  }
}
