.reviews {
  padding: 0 $mobile-padding;

  &__title {
    margin: 0;
    margin-bottom: 35px;

    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
  }

  &__section {
    margin: 0;
    margin-bottom: 35px;
  }

  &__controls {
    margin-bottom: 40px;
  }

  &__text {
    margin: 0;
    margin-bottom: 40px;

    line-height: 20px;
  }

  &__author-name {
    display: block;

    font-size: 17px;
    font-style: normal;
    font-weight: bold;
    color: #000000;
  }

  &__author-link {
    display: block;

    font-size: 17px;
    line-height: 30px;
    font-style: normal;
  }

  &__write {
    margin-bottom: 45px;
  }
}
