.reviews {
  padding: 0 $mobile-padding;
}

.reviews__review-block {
  margin: 0;
}

.reviews__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.reviews__text {
  line-height: 30px;
}

.reviews__author-name {
  font-size: 17px;
  font-style: normal;
  font-weight: bold;
  color: #000000;
  }

.reviews__author-link {
  font-size: 17px;
  line-height: 30px;
  font-style: normal;
}
