.secondary-nav {
  display: none;

  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
}

.secondary-nav__list {
  @include reset-list-style;

  display: flex;

  a {
    display: block;
    padding: 28px $mobile-padding;

    color: #000000;
    text-decoration: none;
  }
}

@media (min-width: $desktop-width) {
  .secondary-nav {
    display: block;
  }
}
