.social {
  @include reset-list-style;
  display: flex;
  align-items: flex-end;
  padding: 23px 0;
}

.social__link {
  padding: 0 20px;
}

@media (min-width: $tablet-width){
  .social {
    padding: 0;


    align-items: center;
  }

  .social__link {
    display: table-cell;
  }

  .social__link svg {
    vertical-align: bottom;
  }
}
