.user-nav {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}

.user-nav__list {
  @include reset-list-style;

  a {
    display: block;
    padding: 28px $mobile-padding;

    color: #000000;
    text-decoration: none;
  }
}

@media (min-width: $tablet-width) {
  .user-nav {
    order: -1;
  }

  .user-nav__list {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .user-nav {
    order: 0;
  }
}
