.user-nav {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}

.user-nav__list {
  @include reset-list-style;
  margin: 0;

  a {
    display: block;
    padding: 27px 45px;
    padding-right: 0;

    color: #000000;
    text-decoration: none;
    text-align: left;


  }
}

.user-nav__item {
  padding: 0 30px;

  border-bottom: 1px solid #ececec;
}

.user-nav__item:last-child {

  a {
    border-bottom: none;
  }
}

.user-nav__link--cart {
  position: relative;

  &::before {
    content: "";

    position: absolute;
    top: 30px;
    left: 0px;
    width: 20px;
    height: 18px;

    background-image: url("../../img/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
  }
}

.user-nav__link--search {
  position: relative;

  &::before {
    content: "";

    position: absolute;
    top: 30px;
    left: 0px;
    width: 18px;
    height: 18px;

    background-image: url("../../img/icon-search.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .user-nav {
    order: -1;
  }

  .user-nav__list {
    display: flex;
    height: 88px;

    a {
      padding: 0;
      padding-left: 82px;

      border: none;
    }
  }

  .user-nav__link--cart {

    &::before {
      top: 3px;
      left: 31px;
    }
  }

  .user-nav__link--search {
    font-size: 0;

    &::before {
      top: 3px;
      left: 32px;
    }
  }

  .user-nav__item {
    display: flex;
    align-items: center;
    padding: 0;

    border-left: 1px solid #ececec;
    border-bottom: none;
  }
}

@media (min-width: $desktop-width) {
  .user-nav {
    order: 0;
    width: 450px;
    display: flex;
    justify-content: flex-end;
  }
  .user-nav__list {
    a {

      padding-left: 84px;

    }
  }
}
