.user-nav {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}

.user-nav__list {
  @include reset-list-style;

  a {
    display: block;
    padding: 28px $mobile-padding;

    color: #000000;
    text-decoration: none;
  }
}
